@charset "UTF-8";
*{box-sizing: border-box}

@media (max-width: 400px){
}

/*Add padding to containers*/
.container {
	padding: 16px; 
}
body {
	background-color:#00163C;
	color:white;
}
h2 {
	padding-bottom: 15px;
}
form {
	padding-bottom: 15px;
	
}
.container {
	text-align: center;
}
.button {
		border: none;
	}
	