@charset "UTF-8";
*{box-sizing: border-box}

/*Add padding to containers*/
.container {
	padding: 16px; 
	font-family: Avenir, Arial;
}
body {
	background-color:#00163C;
	color:white;
}
h2 {
	padding-bottom: 15px;
	text-transform: uppercase;
}

label {
	text-transform: uppercase;
}
input, textarea, select {
	width: 50%;
	padding: 15px;
	margin: 5px 0px 22px 0px;
	display: inline-block;
	background-color: #CCCCCC;
	border: none;
	color: #00163C;
}

placeholder {
	 color: black;
}
checkbox {
	width: 50%;
	
}
.container {
	text-align: center;
}
.button {
	background-color:#EDEDED;
	color: black;
	padding: 16px 20px;
	margin: 8px 0;
	cursor: pointer;
	width: 50%;
	opacity: 0.8;
	border-radius: 2px;
	border-color:#18E73F;
	}

.button:hover {
	opacity: 1;
}
	