@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
}

p {
	font-size: 12px;
}
body {
	background-color:#00163C;
	color: white;
	margin: 0;

}
h2 {
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
}
.container {
	width: 60%;
	padding: 16px; 
	font-family: Avenir, Arial;
	display: flex; 
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}
.image {
	justify-content: center;
	
}
h4 {
	text-transform: uppercase;
}
.list, .introduction, .image, .btn {
	width: 80%;
	padding: 8px;
}
.btn {
	color: black;
	padding: 16px 20px;
	margin: 8px 0;
	cursor: pointer;
	width: 50%;
	opacity: 0.8;
	border: none;
}
.btn:hover{
	opacity: 1;
}

