@charset "UTF-8";
/* CSS Document */
body {
	display: flex;
	justify-content: center;
}
p {
	font-size: 12px;
}
.container {
	width: 60%;
	padding: 16px; 
	font-family: Avenir, Arial;
	display: flex; 
	flex-direction: column;
	justify-content: center;
}

#email, #date, #Picture, #location, #name, #Kind, #Description{
	width: 80%;
	background-color: #CCCCCC;
	border: none;
	color: #00163C;
	padding: 8px;
}

body {
	background-color:#00163C;
	color:white;
}
h2 {
	text-transform: uppercase;
	font-size: 20px;
}

label {
	text-transform:uppercase;
	}
.btn {
	background-color: #CCCCCC;
	color: black;
	padding: 16px 20px;
	margin: 8px 0;
	cursor: pointer;
	width: 50%;
	opacity: 0.8;
	border: none;
}
.btn:hover{
	opacity: 1;
}

